body{
    margin: 0;
    background: linear-gradient(to bottom, #52c234, #061700);
    height: 100vh;
}

#tower {
    /*margin-top: 70px;*/
    display: flex;
    flex-direction: column-reverse;
}

#nextTower{
    width: 100%;
    margin-top: 100px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.floor{
    display: flex;
}

.elevator {
    width: 100px;
    height: 100px;
    min-width: 100px;
    background: #546E7A;
    border: solid black 1px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.room{
    flex-grow: 2;
    border: solid black 1px;
    color: white;
    display: flex;
    flex-direction: column;
}

.room div{
    /*align-self: flex-start;*/
}

.room button{
    background: transparent;
    color: white;
    border: 1px white solid;
    padding: 10px;
    border-radius: 50px;
    margin: 0px 5px;
}

.room button.info{
    background: transparent;
    color: white;
    border: none;
    margin: 5px 10px;
    padding: 0;
    font-size: 20px;

}

.storeFront {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    padding: 5px;
}

.stockRoom{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-top: white 1px solid;
}

.storeBanner{
    border-bottom: white solid 1px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 30px;
}

.storeItems{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 7px 0px;
}

.stockRoom button{
    float: right;
}

#lobby{
    color: white;
    font-size: 50pt;
    flex-direction: row;
    justify-content: center;
}

.nav{
    position: fixed;
    top: 0;
    background: #607D8B;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: white solid 1px;
    box-shadow: 1px 1px 1000px 1px;
}

/*TODO CSS animation*/
#navExpanded {
    display: flex;
    flex-direction: column;
}

#navTop{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#storeMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /*overflow-x: scroll;*/
    /*overflow-y: inherit;*/
    text-align: center;
    height: 50px;
}

#create{
    display: none;

}

.new{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    transition: 0.5s;
}

.new input, select{
    background: transparent;
    color: white;
    padding: 5px;
    margin: 5px;
    border: white solid;
}

.new a {
    margin: 5px;
    border: 1px white solid;
}

.notRandom {
    background: green;
}
.random{
    background: #1E88E5;
}

.create{
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.create input, select{
    display: none;
    margin: 5px;
    background: transparent;
    padding: 5px;
    border: 1px solid white;
    color: white;
}

#category option{
    color: black;
}

#color option{
    color: white;
}

#peopleMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    height: 50px;
}

#message {
    height: 50px;
    color: white;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border-top: white solid 1px;
}

.btn {
    color: black;
    font-size: 30px;
    line-height: 50px;
}

#money{
    color: white !important;
}

#brand{
    align-self: flex-start;
    color: white;
    font-size: 25px;
    line-height: 50px;
    padding: 0;
    margin: 0;
}

.btn{
    border: none;
    background: none;
    color: white;
}


a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    /*padding: 5px;*/
}

.stockBtn {
    color: white;
    border: 1px white solid;
    padding: 5px;
    border-radius: 10px;
    font-size: 14pt;
    margin: 5px 0;
    text-align: center;
    background: transparent;
}

input.stockBtn {
    background: white;
    color: black;
    text-align: left;
}

.update{
    background: #43A047;
}

.delete{
    background: #D50000;
}

.random{
    background: #1E88E5;
}

/*DevOptions*/
#devOptions{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

#devText {
    line-height: 50px;
    flex-grow: 2;
    font-size: 25px;
}

.beta{
    display: none;
}


.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #546E7A;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: grey 1px 1px 100px;
    align-items: stretch;
}

.sidenav a {
    margin: 15px 0;
    padding: 5px 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    padding: 10px;
}

.achievementUnlocked {
    color: white;
    background: #DAA520;
    padding: 10px;
}

#achievements{
    display: none;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

#settings{
    display: none;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.setting{
    color: white;
    background: grey;
    padding: 10px;

}
