body{
    margin: 0;
    background: green;
}

#tower {
    /*margin-top: 70px;*/
    display: flex;
    flex-direction: column-reverse;
}

#nextTower{
    width: 100%;
    margin-top: 50px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor{
    display: flex;
}

.elevator {
    width: 100px;
    height: 100px;
    background: #546E7A;
    border: solid black 1px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.room{
    flex-grow: 2;
    border: solid black 1px;
    color: white;
    display: flex;
    flex-direction: column;
}

.room div{
    /*align-self: flex-start;*/
}

.room button{
    background: transparent;
    color: white;
    border: 1px white solid;
    padding: 10px;
    border-radius: 50px;
}

.room button.info{
    background: transparent;
    color: white;
    border: none;
    margin: 5px 10px;
    padding: 0;
    font-size: 20px;

}

.storeFront {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding: 10px;
}

.stockRoom{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-top: white 1px solid;
}

.stockRoom button{
    float: right;
}

#lobby{
    color: white;
    font-size: 50pt;
    flex-direction: row;
    justify-content: center;
}

.nav{
    position: fixed;
    top: 0;
    background: #607D8B;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: white solid 1px;
    box-shadow: 1px 1px 1000px 1px;
}

/*TODO CSS animation*/
#navExpanded {
    display: none;
    flex-direction: column;
}

#navTop{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#storeMenu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /*overflow-x: scroll;*/
    /*overflow-y: inherit;*/
    text-align: center;
}

/*#storeMenu a {*/
    /*padding: 10px;*/
/*}*/



#createStore {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

#createApt {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

#createPerson {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}


.create input, select{
    margin: 5px;
    background: transparent;
    padding: 5px;
    border: 1px solid white;
    color: white;
}

#category option{
    color: black;
}

#color option{
    color: white;
}


#peopleMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    height: 50px;
}

#error {
    height: 50px;
    background: darkred;
    color: white;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.btn {
    color: black;
    font-size: 30px;
    line-height: 50px;
}

#money{
    color: white !important;

}

#brand{
    align-self: flex-start;
    color: white;
    font-size: 25px;
    line-height: 50px;
    padding: 0;
    margin: 0;
}

.btn{
    border: none;
    background: none;
    color: white;
}


a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.stockBtn {
    color: white;
    border: 1px white solid;
    padding: 5px;
    border-radius: 50px;
    font-size: 14pt;
    margin: 5px 0;
    text-align: center;
}

input.stockBtn {
    background: white;
    color: black;
    text-align: left;
}

.update{
    background: darkgreen;

}

.delete{
    background: darkred;
}


/*DevOptions*/
#devOptions{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

#devText {
    line-height: 50px;
    flex-grow: 2;
    font-size: 25px;
}

.beta{
    display: none;
}