body{
    margin: 0;
    background: green;
}

#tower {
    /*margin-top: 70px;*/
    display: flex;
    flex-direction: column-reverse;
}

#nextTower{
    width: 100%;
    margin-top: 50px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor{
    display: flex;
}

.elevator {
    width: 100px;
    height: 100px;
    background: grey;
    border: solid black 1px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.room{
    flex-grow: 2;
    border: solid black 1px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.room div{
    /*align-self: flex-start;*/
}

.room button{
    background: transparent;
    color: white;
    border: 1px white solid;
    padding: 10px;
    border-radius: 50px;
    transition: box-shadow 1s;
}

.room button:hover{
    box-shadow: 0px 1px 50px 1px;
    text-shadow: 0px 1px 25px;
}

.room button.info{
    background: transparent;
    color: white;
    border: 1px white solid;
    padding: 10px 15px;
    border-radius: 50%;

}

#lobby{
    color: white;
    font-size: 50pt;
    justify-content: center;
}

.nav{
    position: fixed;
    top: 0;
    background: green;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: white solid 1px;
    box-shadow: 1px 1px 1000px 1px;
}

/*TODO CSS animation*/
#navExpanded {
    display: none;
    flex-direction: column;
}

#navTop{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#storeMenu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#createStore {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}


#createStore input, select{
    margin: 5px;
    background: transparent;
    padding: 5px;
    border: 1px solid white;
    color: white;
}

#category option{
    color: black;
}

#color option{
    color: white;
}


#peopleMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    height: 50px;
}

#error {
    /*position: fixed;*/
    height: 50px;
    background: darkred;
    color: white;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.btn {
    color: black;
    font-size: 40px;
    line-height: 50px;
}

#money{
    color: white !important;

}

#brand{
    align-self: flex-start;
    color: white;
    font-size: 25px;
    line-height: 50px;
    padding: 0;
    margin: 0;
}

.btn{
    border: none;
    background: none;
    color: white;
}


a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    transition: text-shadow 1s;
}

a:hover{
    text-shadow: 0px 1px 50px;
}


